@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus,
*:active {
  outline: transparent;
}
a {
  text-decoration: none;
}
button{
  font-family: 'Poppins', sans-serif;
  border: none;cursor: pointer;
  border: none;
}
ul{list-style: none;}
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
}
body {
  background-color: #111111;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}
.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 10px;
}
.show-box {
  cursor: pointer;
}
.show-box img {
  max-width: 100%;
  height: auto;
}

/* Pagination Styling */
.page-numbers {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-inline: auto;
  padding-bottom: 2.5rem;
}
.page-numbers .pagination ul {
  display: flex;
  gap: 0.5rem;
}
.page-numbers a {
  padding: 5px 10px;
  background-color: #ffe400;
  width: 100px;
  border-radius: 0.25rem;
  transition: box-shadow 200ms;
  color:#ffffff;
}
.pagination ul li a {
  display: block;
  width: 40px;
  color: #000000;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ffe400;
  display: grid;
  place-content: center;
}
.page-numbers a:hover,
.pagination ul li a:hover {
  box-shadow: 0 0 10px #ffe400;
}